
.txt
{
	border-radius: 5px;
	padding: 6px;
	width:80%;
}
.dt
{
	border-radius: 5px;
	padding: 6px;
}

.num
{
	border-radius: 5px;
	padding: 6px;
}
.mail
{
	border-radius: 5px;
	padding: 6px;
}
.br
{
  border-radius: 5px;
  padding: 6px;
}
.add
{
   border-radius: 5px;
   padding: 6px;
}
.sem
{
  border-radius: 5px;
  padding: 6px;
}
.des
{
	border-radius: 5px;
	padding: 6px;
}
